{% block scripts %}
  <!-- JavaScript library imports -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/devtools-detect.js') }}"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
{% endblock %}

{% block footer %}
{% endblock %}