{% extends "admin/base.html" %}

{% block body_content %}
    <div class="side-container">
        <table class="side-table">
            <tr>
                <th>{{ locale.admin.tables.FILE_ID }}</th>
                <th>{{ locale.admin.tables.DISCRIMINATOR }}</th>
                <th>{{ locale.admin.tables.AUTHOR }}</th>
                <th>{{ locale.admin.tables.UPLOAD_DATE }}</th>
                <th>{{ locale.admin.tables.ACTIONS }}</th>
            </tr>
            {% for i in files %}
                <tr id="{{ i.discrim }}">
                    <td>{{ i.file_id }}</td>
                    <td><a href="/archive/{{ i.discrim }}">{{ i.discrim }}</a></td>
                    <td>{{ i.owner.username }}</td>
                    <td>{{ i.created_at_friendly }}</td>
                    <td>
                        <button class="action-button green-button tooltip" onclick="restore_file('{{ i.discrim }}')">
                            <i class="fas fa-redo"></i>
                            <span class="tooltiptext">{{ locale.admin.buttons.RESTORE_FILE }}</span>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}