{% extends "admin/base.html" %}

{% block body_content %}
    <div class="side-container">
        <table class="side-table">
            <tr>
                <th>{{ locale.admin.tables.URL_ID }}</th>
                <th>{{ locale.admin.tables.DISCRIMINATOR }}</th>
                <th>{{ locale.admin.tables.LINKS_TO }}</th>
                <th>{{ locale.admin.tables.AUTHOR }}</th>
                <th>{{ locale.admin.tables.UPLOAD_DATE }}</th>
                <th>{{ locale.admin.tables.ACTIONS }}</th>
            </tr>
            {% for u in urls %}
                <tr id="{{ u.discrim }}">
                    <td>{{ u.url_id }}</td>
                    <td><a href="/u/{{ u.discrim }}" target="_blank">{{ u.discrim }}</a></td>
                    <td><a href="{{ u.url }}" target="_blank">{{ u.url[:60] + ("..." if len(u.url[:60]) < len(u.url) else "") }}</a></td>
                    <td>{{ u.owner.username }}</td>
                    <td>{{ u.created_at_friendly }}</td>
                    <td>
                        {% if u.owner.user_id not in (user.user_id, superuser_id) and (not u.owner.is_admin or superuser)  %}
                            <button class="action-button red-button tooltip" onclick="delete_url('{{ u.discrim }}')">
                                <i class="fas fa-trash"></i>
                                <span class="tooltiptext">{{ locale.admin.buttons.DELETE_URL }}</span>
                            </button>
                        {% else %}
                        {{ locale.admin.tables.NO_URL_ACTIONS }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}