{% extends "admin/base.html" %}

{% block body_content %}
    <div class="side-container">
        <table class="side-table">
            <tr>
                <th>{{ locale.admin.tables.USER_ID }}</th>
                <th>{{ locale.admin.tables.USERNAME }}</th>
                <th>{{ locale.admin.tables.DISPLAY_NAME }}</th>
                <th>{{ locale.admin.tables.ADMINISTRATOR }}</th>
                <th>{{ locale.admin.tables.ACTIONS }}</th>
                <th>
                    <a class="green-button table-button" href="/home/admin/new">
                        <i class="fas fa-plus"></i>
                    </a>
                </th>
            </tr>
            {% for u in users %}
                <tr id="{{ u.user_id }}">
                    <td>{{ u.user_id }}</td>
                    {% if u.user_id == superuser_id %}
                        <td>
                            {{ u.username }} 
                            <span class="name-tag tooltip">
                                <i class="fas fa-check"></i> SYSTEM
                                <span class="tooltiptext">{{ locale.admin.tags.IS_SYSTEM }}</span>
                            </span>
                        </td>
                    {% else %}
                        <td>{{ u.username }}</td>
                    {% endif %}
                    <td>{{ u.display_name }}</td>
                    <td>
                        {% if u.is_admin %}
                            <i class="fas fa-check"></i>
                        {% else %} 
                            <i class="fas fa-times"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% if u.user_id not in (user.user_id, superuser_id) and (not u.is_admin or superuser)  %}
                            {% if user.user_id == superuser_id %}
                                <button class="action-button blue-button tooltip" onclick="toggle_admin({{ u.user_id }})">
                                    <i class="fas fa-user-shield"></i>
                                    <span class="tooltiptext">{{ locale.admin.buttons.TOGGLE_ADMIN }}</span>
                                </button>
                            {% endif %}
                            <button class="action-button green-button tooltip" onclick="reset_token({{ u.user_id }})">
                                <i class="fas fa-redo"></i>
                                <span class="tooltiptext">{{ locale.admin.buttons.RESET_TOKEN }}</span>
                            </button>
                            <button class="action-button gold-button tooltip">
                                <a href="/home/admin/edit/{{ u.user_id }}">
                                    <i class="fas fa-pen"></i>
                                    <span class="tooltiptext">{{ locale.admin.buttons.EDIT_ACCOUNT }}</span>
                                </a>
                            </button>
                            <button class="action-button red-button tooltip" onclick="delete_user({{ u.user_id }})">
                                <i class="fas fa-trash"></i>
                                <span class="tooltiptext">{{ locale.admin.buttons.DELETE_ACCOUNT }}</span>
                            </button>
                        {% else %}
                            {{ locale.admin.tables.NO_USER_ACTIONS }}
                        {% endif %}
                    </td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}