{% extends "base.html" %}

{% block head_imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/banners.css') }}">
{% endblock %}

{% block head_title %}
    <title>{{ locale.login.TITLE }}</title>
{% endblock %}

{% block base_body_content %}
    <form class="login-container">
        <div class="banner red-banner white-text">{{ locale.login.form.INVALID_CREDS }}</div>

        <div class="field-container">
            <div class="input-header" id="username-header">{{ locale.login.form.USERNAME }}</div>
            <input class="input-box" id="username-box" type="text" placeholder value>
        </div>
        <div class="field-container">
            <div class="input-header" id="password-header">{{ locale.login.form.PASSWORD }}</div>
            <input class="input-box" id="password-box" type="password" placeholder value>
        </div>
        
        <input type="submit" class="submit-button blue-button" onclick="login()" value="{{ locale.login.buttons.LOGIN }}">
    </form>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/login.js') }}"></script>
{% endblock %}