{% include "base.html" %}

{% block head_imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/errors.css') }}">
{% endblock %}

{% block head_title %}
    <title>500 - Server error</title>
{% endblock %}

{% block base_body_content %}
    <div class="content">
        <h1 class="emoticon">(╯°□°)╯</h1>
        <br>
        <p class="code">500 - Internal server error</p>
        <h1>Mmm, toasted server.</h1>
        <h3>Uh oh... Fire in the server room!</h3>
        <p class="return" onclick="window.history.back();"><a class="arrow">←</a>&nbsp; Go back</p>
    </div>
{% endblock %}