{% include "base.html" %}

{% block head_imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/errors.css') }}">
{% endblock %}

{% block head_title %}
    <title>503 - Under maintenance</title>
{% endblock %}

{% block base_body_content %}
    <div class="content">
        <h1 class="emoticon">ﾉ(° -°ﾉ)</h1>
        <br>
        <p class="code">503 - Service unavailable</p>
        <h1>Stop, hammer time!</h1>
        <h3>Can anyone else hear a drill?</h3>
        <p class="return" onclick="window.history.back();"><a class="arrow">←</a>&nbsp; Go back</p>
    </div>
{% endblock %}