{% extends "home/base.html" %}

{% block body_content %}
    <div class="side-container">
        <table class="side-table">
            <tr>
                <th>{{ locale.home.tables.FILE_ID }}</th>
                <th>{{ locale.home.tables.DISCRIMINATOR }}</th>
                <th>{{ locale.home.tables.UPLOAD_DATE }}</th>
                <th>{{ locale.home.tables.ACTIONS }}</th>
            </tr>
            {% for i in files %}
                <tr id="{{ i.discrim }}">
                    <td>{{ i.file_id }}</td>
                    <td><a href="{{ url_for('static', filename='uploads/' + i.discrim) }}" target="_blank">{{ i.discrim }}</a></td>
                    <td>{{ i.created_at_friendly }}</td>
                    <td>
                        <button class="action-button red-button tooltip" onclick="delete_file('{{ i.discrim }}')">
                            <i class="fas fa-trash"></i>
                            <span class="tooltiptext">{{ locale.home.buttons.DELETE_FILE }}</span>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}