{% extends "home/base.html" %}

{% block body_content %}
    <div class="side-container">
        {% for message in messages %}
            <div class="system-message">
                <p class="message-author">
                    {{ superuser.display_name }} 
                    <span class="name-tag tooltip">
                        <i class="fas fa-check"></i> SYSTEM
                        <span class="tooltiptext">{{ locale.home.tags.IS_SYSTEM }}</span>
                    </span>

                    <span class="message-timestamp">{{ message.created_at_friendly }}</span>
                </p>

                <p class="message-content">{{ message.content|safe }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}