{% block head_imports %}
    <!-- Stylesheet imports -->
    <link rel="stylesheet" href="https://teknetcontent.com/css/base.min.css">
    <link rel="stylesheet" href="https://teknetcontent.com/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Javascript imports -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <!-- Metadata tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
{% endblock %}