<script src="https://teknetcontent.com/js/bulma-nav.min.js"></script>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://github.com/Jack-Gledhill/imago">
            <img src="{{ url_for(endpoint='static', filename='assets/logo.png') }}" width="28" height="28">
        </a>
  
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
  
    <div class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Home</a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/home">Account settings</a>
                    <a class="navbar-item" href="/home/files">Files</a>
                    <a class="navbar-item" href="/home/urls">URLs</a>
                </div>
            </div>

            {% if user.admin %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Site Administration</a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/admin">Users</a>
                        <a class="navbar-item" href="/admin/files">Files</a>
                        <a class="navbar-item" href="/admin/urls">URLs</a>
                    </div>
                </div>
            {% endif %}

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">More</a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="https://docs.jacktek.dev/imago/getting-started">Documentation</a>
                    <a class="navbar-item" href="https://jacktek.dev/demo?project=imago">Demo</a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="https://discord.gg/CsHF5GX">Support</a>
                </div>
            </div>
          </div>

        <div class="navbar-end">
            <div class="navbar-item">
            <div class="buttons">
                <a class="button is-danger" href="/api/logout">
                    <span class="icon is-small">
                        <i class="fas fa-sign-out-alt"></i>
                    </span>
                    <span>Logout</span>
                </a>
            </div>
            </div>
        </div>
    </div>
</nav>