.button {
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 5px;

    margin-right: 5px;
    transition: .17s ease-in-out;
    cursor: pointer;
}

/* Button colours */
.red-button {
    background-color: #dd2e44;
}
.gold-button {
    background-color: #ff9d00;
}
.blue-button {
    background-color: #4196f7;
}
.green-button {
    background-color: #43b581;
}

.red-button:hover,
.red-button.blocked {
    background-color: #971e2e;
}
.gold-button:hover,
.gold-button.blocked {
    background-color: #af6f07;
}
.blue-button:hover,
.blue-button.blocked {
    background-color: #2566b3;
}
.green-button:hover,
.green-button.blocked {
    background-color: #21754d;
}