@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,400i,700");

body {
    margin-top: -16px;
    margin: 0;
    height: 100%;
    font-family: "Nunito", "Verdana", "Karla";
}
button, div, a:focus {
    outline: 0;
}
a {
    text-decoration: none;
    color: #4196F7;
}

.blocked {
    cursor: not-allowed !important;
}

/* Restyle sweetalert boxes */
.swal-button {
    transition: .17s ease-in-out;
}
.swal-button--confirm,
.swal-button--yes {
    background-color: #43b581;
}
.swal-button--danger,
.swal-button--no {
    background-color: #dd2e44;
}
.swal-button--confirm:hover,
.swal-button--yes:hover {
    background-color: #21754d !important;
}
.swal-button--danger:hover,
.swal-button--no:hover {
    background-color: #971e2e !important;
}