body {
  background-image: url("../assets/login_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container {
  border-radius: 10px;
  display: inline-block;
  flex-direction: column;
  text-align: left;
  width: 460px;
  background: #2C2F33;
  box-shadow: 0px 2px 10px black;
  padding: 20px;

  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Make text white */
.input-box {
  color: white;
  width: 100%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
.input-box:focus {
  -webkit-text-fill-color: white;
}
@-webkit-keyframes autofill {
  0%, 100% {
      color: white;
      background: rgba(0, 0, 0, 0.1);
  }
}