.system-message {
    text-align: left;
}
.message-author {
    color: #4196f7;
}
.message-timestamp {
    color: rgb(116, 127, 141) !important;
}
.message-content {
    color: rgb(46, 51, 56);
    white-space: pre-line;
}