.action-button, .table-button {
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 5px;

    height: 30px;
    width: 30px;
    transition: .17s ease-in-out;
    margin-left: 5px;
    cursor: pointer;
}
.action-button a {
    color: white;
}
.side-table {
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    border-collapse: collapse;
}
.side-table, th, td {
    padding: 15px;
    text-align: left;
    border-spacing: 0;
}
.side-table tr:nth-child(even) {
    background-color: #eee;
}
.side-table tr:nth-child(odd) {
    background-color: #fff;
}
.side-table tr:first-child td {
    border-top: none;
}
.side-table tr:last-child td {
    border-bottom: none;
}
.side-table tr td:first-child {
    border-left: none;
}
.side-table tr td:last-child {
    border-right: none;
}
.side-table th {
    background-color: #2C2F33;
    color: white;
}
.table-button {
    float: right;
    height: 20px;
    width: 20px;
    text-align: center;
}