<ul class="nav">
    <li class="nav-item left"><a class="nav-banner" href="https://github.com/milasoftwaregroup/imago" target="_blank"><i class="fab fa-github"></i> &nbsp;&nbsp;{{ locale.home.nav.PROJECT_TITLE }}</a></li>
    <li class="nav-item right"><a href="/api/logout"><i class="fas fa-sign-out-alt"></i></a></li>
    {% if user.is_admin %}
        <li class="nav-item right"><a href="/home/admin"><i class="fas fa-lock"></i></a></li>
    {% endif %}
    <li class="nav-item right"><a id="display-name">{{ user.display_name }}</a></li>
</ul>