<!DOCTYPE html>
<html>
<head>
    <meta property="og:site_name" content="Uploaded by {{ file.owner.username }} at {{ file.created_at_friendly }}">
    <meta property="og:title" content="{{ file.key }} • {{ size }}">
    <meta property="og:url" content="{{ url_for(endpoint='static', filename='uploads/' + file.key) }}">
    <meta property="og:type" content="website">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="og:image" content="{{ url_for(endpoint='static', filename='uploads/' + file.key) }}">
    <meta property="theme-color" content="{{ config.colour }}">
</head>
<body>
    <style>
        body {
            background-color: black;
        }
    </style>
    <table width="100%" height="100%">
        <tbody>
            <tr>
                <td style="text-align: center; vertical-align: middle;">
                    <img src="{{ url_for(endpoint='static', filename='uploads/' + file.key) }}" alt="{{ file.key }}">
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>